Repository OriginProtocol/dshop, pull requests merged in 2020-07, with the labels that each got.

#151 config.ipfsApi not always available
  shop/src/utils/listing.js
Labels: bug

#155 Adds some defensive checks for files when using mv
  backend/routes/shops.js
Labels: backend, bug

#159 Bull queue cluster support
  backend/queues/queues.js
Labels: backend, ops

#183 Prevent setting discounts on other stores.
  backend/routes/discounts.js
Labels: bug

#193 Multi instsance listener support
  backend/listener.js
  backend/queues/eventsProcessor.js
  backend/queues/index.js
  backend/queues/queues.js
  backend/routes/auth.js
  backend/routes/shops.js
  backend/test/const.js
  backend/test/setup.js
  backend/test/shop.test.js
  backend/utils/handleLog.js
Labels: backend, ops

#200 Health check endpoints
  backend/app.js
  backend/queues/fallbackQueue.js
  backend/routes/health.js
Labels: backend, ops

#251 Fixes dnslink TXT record
  shop/src/pages/admin/settings/appearance/_CustomDomain.js
Labels: bug, dapp, documentation

#247 AutoSSL "Priming" moved to queue
  backend/queues/autosslProcessor.js
  backend/queues/index.js
  backend/queues/queues.js
  backend/routes/shops.js
  backend/utils/autossl.js
  backend/utils/deployShop.js
  backend/utils/http.js
Labels: backend, bug

#275 Use our own logger with ipfs-deploy
  backend/package.json
  backend/utils/deployShop.js
  yarn.lock
Labels: backend

#291 DNS Verification Fixen
  backend/routes/domains.js
Labels: backend, bug

#292 Don't leak auth failure reasons
  backend/routes/auth.js
Labels: backend

#294 DNS Record Suggestions
  backend/routes/domains.js
  backend/utils/dns/index.js
  shop/src/pages/admin/settings/appearance/_CustomDomain.js
  shop/src/utils/dns.js
Labels: backend, dapp, documentation, enhancement

#311 Stripe webhook robusto
  backend/routes/stripe.js
Labels: backend

#317 Prefix web3 private key when set
  backend/routes/shops.js
Labels: bug

#324 Stripe webhook graceful failures
  backend/routes/stripe.js
Labels: backend

#327 Stripe RESTful API CLI script
  backend/scripts/stripe.js
Labels: enhancement, ops

#337 log deployment duration
  backend/routes/shops.js
Labels: backend
